@model PlaylistManagerApp.Models.Playlist.PlaylistDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="playlist-nav">
    <a asp-action="Index" class="playlist-nav-link">Back to Playlists</a>
</div>

<h1>@Model.Title</h1>

<div>
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<hr>

<div class="table-container" id="song-list">
    <div>
        <div class="playlist-nav">
            <a asp-controller="Search" asp-action="Index" class="playlist-nav-link"><img src="~/Assets/add.png"
                    alt="Add Song" height="23px">
            </a>|
            <a asp-controller="Playlist" asp-action="Edit" asp-route-id="@Model.PlaylistId"
                class="playlist-nav-link pad-left">
                Edit
            </a>|
            <a asp-controller="Playlist" asp-action="Delete" asp-route-id="@Model.PlaylistId"
                class="playlist-nav-link pad-left" id="delete-btn">
                Delete
            </a>
        </div>
    </div>

    @if (Model.Song != null && Model.Song.Any())
    {
        <table class="playlist-table">
            <thead class="playlist-head">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Date Added</th>
                    <th scope="col" class="col-3">Remove</th>
                </tr>
            </thead>
            <tbody class="playlist-body song-list">
                @foreach (var song in Model.Song)
                {
                    <tr class="playlist-row">
                        <td class="first-col">
                            @song.Title
                        </td>
                        <td class="second-col">
                            @song.Artist
                        </td>
                        <td class="second-col">
                            @song.DateAdded
                        </td>
                        <td class="third-col">
                            <a asp-action="RemoveSong" asp-route-id="@song.PlaylistSongId" class="remove-song"
                                type="submit"><img src="~/Assets/delete.png" height="20px"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            There are no songs found for the playlist.
        </p>
    }
</div>

<div class="playlist-nav">
    <a asp-action="Index" class="playlist-nav-link">Back to Playlists</a>
</div>