@model List<PlaylistManagerApp.Models.Search.SearchResult>

@* @{
    PlaylistManagerApp.Models.Song.SongCreate songToAdd = new();
} *@
<h2>Search Results</h2>

<ul>
    @foreach (var result in Model)
    {
        <li>
            @result.Name by @string.Join(", ", result.Artists?.Select(a => a.Name) ?? Enumerable.Empty<string>())
            <form asp-controller="Song" asp-action="Add" method="post">
                @Html.Hidden("SongCreate.SpotifyTrackID", @result.Id)
                @Html.Hidden("SongCreate.Title", @result.Name)
                @Html.Hidden("SongCreate.Artist", @result.Artists?.Select(a => a.Name) ?? Enumerable.Empty<string>())
            </form>
            <button type="submit">Add to playlist</button>
        </li>
    }
</ul>